/* navbar styling for mobile */
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    font-size: 18px;
    background-color: lightslategray;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-nav{
    list-style-type: none;
    display: none;
    order: 4;

}
.nav-links,.logo,.homepage-logo{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.user-pro-container{
    order: -2;
    display: flex;
    align-items: center;
    flex: 0;
    max-height: 30px;
}
.logo{
    font-size: 22px;
    order: -1;
    margin-left: 20px;
}
.homepage-logo{
    font-size: 22px;
    order: -1;
}
.user-profile-pic{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;

}
.hamburger{
    width: 26px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
}
.navbar-toggle {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    margin-right: 20px;
    display: inline-block;
    order: 6;
}
.active{
    order: 5;
    /*display: block;*/
    padding-top: 20px;
    display: block;
}


/* styling for the side nav pop up */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
    cursor: pointer;
  }
  .sidenav .closebtn:hover{
      color: #f1f1f1;
  }



/*

.navbar {
    font-size: 18px;
    background-color: lightslategray;
    border: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 10px;

}
.main-nav{
    list-style-type: none;
    display: none;
}
.nav-links,.logo,.homepage-logo{
    text-decoration: none;
    color:rgba(255,255,255,0.7);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo{
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
.homepage-logo{
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left:20px;
}
.user-profile-pic{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: red;
    display: inline-block;
}
.hamburger{
    width: 26px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
}
.navbar-toggle {
    position: absolute;
    float: right;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.active{
    display: block;
}
*/
/*
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    font-size: 18px;
    background-color: lightslategray;
    border: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 10px;
}

.main-nav{
    list-style-type: none;
    display: none;
}

.nav-links,.logo{
    text-decoration: none;
    color:rgba(255,255,255,0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo{
    display:inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
.user-profile-pic{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid blue;
}
.hamburger{
    width: 26px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.active{
    display: block;
}
*/
/* styling for forms */
.form{
    display: flex;
    flex-wrap: wrap;
}
.form input{
    width: 80%;
    margin: 5px;
    padding: 5px;
   
}
.register-errors-active{
    margin: 5px;
    padding: 5px;
    width: 80%;
    
}
.register-errors span{
    color: red;
    display: block;
    width: 80%;
    padding: 2px;
    margin-left: 20px;
}
.channel-container{
    width: 95%;
    margin: 2.5%;
    padding: 10px;
    background-color: rgba(219,219,219, 0.5);
}
.channel-list{
    display: flex;
    width: 98%;
    margin: 1%;
    padding: 5px;
    flex-wrap: wrap;
    list-style-type: none;
}
.channel-list li{
    width: 20%;
    max-width: 100px;
    margin-left:15%;
    margin-right: 15%;
    height: 30px;
    margin-top: 5px;
    margin-bottom:5px;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    border-radius: 5%;
    background-color: purple;
    text-decoration: none;
}
.channel-list li a{
    text-decoration: none;
}

.channel-container h2{
    text-align: center;
}

.channel-info-container{
    width: 98%;
    margin: 1%;
    padding: 5px;
}
.channel-info-container h1,h2,h3,h4{
    text-align: center;
}
.channel-info-container p{
    margin: 5px;
    padding: 5px;
}
.channel-info-container span{
    float: right;
}

.channel-info-container .channel_name {
    cursor: pointer;
}

.channel-info-container .channel-info-btn{
    cursor: pointer;
}

.joined{
    width: 30px;
    height: 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 10%;
}
.not-joined{
    width: 30px;
    height: 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 10%;
}

.channel-post-container{
    display: flex;
    flex-wrap: wrap;
}

.channel-post-container .post-container{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: 2%;
    
}

.channel-post-container .post-container .title{
    text-align:center;
    margin: 5px;
    width: 100%;
    cursor: pointer;
}

.channel-post-container .post-container .post-content{
    margin: 5px;
    width: 100%;
    padding: 5px;

}

.channel-post-container .post-container .video-container{
    width: 100%;
    height: 300px;
}   
.channel-post-container .post-container .video-container video{
    width: 60%;
    height: 200px;
    margin: 5px auto 5px auto;
    padding: 5px;
}

.channel-post-container .post-container .likes-container{
    margin: 5px;
    padding: 5px;
}

.channel-post-container .post-container .likes-container .like{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.channel-post-container .post-container .likes-container .dislike{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.channel-post-container .post-container .likes-container .liked{
    color:blue;
}

.channel-post-container .post-container .likes-container .disliked{
    color: blue;
}

.channel-post-container .post-container .num_likes{
    float: right;
    margin: 5px 5px 5px auto;
    padding: 5px;
    order: 5;
}

.channel-post-container .post-container .num_comments{
    margin: 5px auto 5px auto;
    padding: 5px;
    order: 3;
}

.channel-post-container .post-container .creater{
    margin: 5px auto 5px 5px;
    padding: 5px;
    font-size: 18px;
    float: left;
    border: 1px solid black;
    border-radius: 20%;  
}

 .individual-post-container{
    width: 98%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;

}
.individual-post-container .likes-container{
    margin: 5px;
    padding: 5px;
}
.individual-post-container .likes-container .like{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.individual-post-container .likes-container .dislike{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.individual-post-container .likes-container .liked{
    color: blue;
}
.individual-post-container .likes-container .disliked{
    color: blue;
}

.individual-post-container .title, .post_content{
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.individual-post-container .num_likes{
    order: 5;
    float: right;
    margin:5px 5px 5px auto;
    padding: 5px;
}

.individual-post-container .num_comments{
    order: 4;
    margin: 5px auto 5px auto;
    padding: 5px;
}

.individual-post-container .creator{
    margin: 5px auto 5px 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10%;
    font-size: 18;
}

.create-comment-container{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: 1%;
}

.create-comment-container .input-comment{
    /*min-width: 50%;
    flex:1;*/
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-bottom: 2px solid black;
}
/*
.create-comment-container .comment-buttons{
    display: none;
    width: 80px;
    height: 15x;
    text-align: center;
    border: 2px solid black;
    margin:auto 5px auto 5px;
    padding: 5px;
    cursor: pointer;
}
*/
.create-comment-container .comment-buttons{
    display: none;
}

.create-comment-container .comment-btn{
    background-color: lightgray;
}

.create-comment-container .active-span{
    display: block;
}
/*
.create-comment-container .active-span{
    display: block;
    float: right;
    width: 80px;
    height: 15x;
    text-align: center;
    border: 2px solid black;
    margin:auto 5px auto 5px;
    padding: 5px;
    cursor: pointer;
    
}
*/
/*
.create-comment-container button{
    width: 80px;
    height: 15px;
    text-align: center;
    border: 2px solid black;
    margin: auto 5px auto 5px;
    padding: 5px;
}
*/

.comments-container{
    width: 98%;
    margin: 1%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}
.single-comment-container{
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    border:2px solid red;
}
.single-comment-container p{
    width: 100%;
}

.single-comment-container span{
    float: right;
    margin: 5px 5px 5px auto;
    padding: 5px;
}

#change-type-post{
    width: 100%;
}

#change-type-post #text-post{
    width: 48%;
    margin: 1px;
    padding: 1px;
    cursor: pointer;
}
#change-type-post #video-post{
    width: 48%;
    margin: 1px;
    padding: 1px;
    cursor: pointer;
    border-left: 1px solid black;
}

#change-type-post .active-post-template{
    background-color: blue ;
}

.sub_comments_reply{
    color: blue;
    cursor: pointer;
}

.reply_span{
    color: blue;
    cursor: pointer;
}
.num_replies{
    color: blue;
    cursor: pointer;
}

.user_handle{
    color: lightseagreen;
}
.comment-span{
    color: red;
    order: 2;
}
.comment-p-tag{
    border:1px solid black;
    display: flex;
}
/*media queries */
@media screen and (min-width: 768px){
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
    .homepage-logo{
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .user-profile-pic{
        margin-top: 0;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }

}