<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/index.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar">
        <span class="navbar-toggle" id='js-navbar-toggle'>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
        </span>
        <a href="{{url_for('main.index')}}" class="logo">logo</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="{{url_for('main.index')}}" class="nav-links">Home</a>
            </li>
            <li>
                <a href="{{url_for('main.explore')}}" class="nav-links">prayer hands to come</a>
            </li>
            <li>
                <a href="{{url_for('users.logout')}}" class="nav-links">Logout</a>
            </li>
            <li>
                <a href="{{url_for('users.register')}}" class="nav-links">Sign Up</a>
            </li>
            <li>
                <a href="{{url_for('users.login')}}" class="nav-links">Log in</a>
            </li>
        </ul>
    </nav>
    <div class="page-container">

    </div>
    <script id='homepage-template' type='text/x-handelbars-template'>
        <h1>Welcome to Uplift</h1>
        <p>This will be the homepage information
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quae at repudiandae quod numquam cum suscipit velit doloremque
             provident reprehenderit dicta incidunt, eos esse, minima quo cupiditate 
             dignissimos ipsum perspiciatis ad!
        </p>
        <p>This will be the homepage information
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quae at repudiandae quod numquam cum suscipit velit doloremque
             provident reprehenderit dicta incidunt, eos esse, minima quo cupiditate 
             dignis
        </p>
    </script>

    <script id="register-template" type="text/x-handelbars-template">

        <h1>This is the registration form</h1>
        <form class = 'form'>
            <div class="username-errors register-errors"></div>
            <input  class='register_username' type='text' placeholder='Username' name='username'>

            <div class='email-errors register-errors'></div>
            <input class='register_email' type="text" placeholder ='Email' name='email'>

            <div class='password-errors register-errors'></div>
            <input class='register_password' type="password" placeholder = "Password" name='password'>

            <div class='password-errors register-errors'></div>
            <input class='register_password_confirm' type="password" placeholder="Password" name='password'>

            <input type="submit" class = 'form-submit'>
        </form>
        
    </script>

    <script class="form-controll" id="login-template" type="text/x-handelbars-template">
        <h1>This is the login form</h1>
        <form class = 'form'>
            <div class='login-errors username-errors'></div>
            <input class='login-username' type="text" placeholder='username' name='username'>
            <input class='login-password' type="password" placeholder='password' name='password'>
            <div class='login-errors username-errors'></div>
            <input type="submit" class='form-submit'>
        </form>
    </script>
    <script class='form-controll' id='explore-template' type='text/x-handelbars-template'>
        <h1>Welcome to the Uplift</h1>
        <ul class='channel-list'></ul>
    </script>
    <script id='logout-template' type="text/x-handlebars-template">
        <h1> {%raw -%} {{username}} {%- endraw %}, Do you want to Log out? </h1>
        <form action="{{url_for('users.logout')}}" method="POST">
            <input type="submit" class="test">
        </form>
    </script>
</body>

</html>